    $redc:#FB0242;
    $blackc:#131517;
    $whitec:#FFFFFF;
    $secondary:#4285F4;
    $grey1:#5E647C;
    $grey2:#1E2745;
    $primary:#161D34;
    $greenc:#0BCF6D;
    $lightgr:#C2EDD8;
    $lightgrey:#F0F0F0;
    
    