$Roboto_bold:"RobotoMono_Bold";
$Roboto_bolditalic:"RobotoMono_BoldItalic";
$Roboto_Extralight:"RobotoMono_ExtraLight";
$Roboto_ExtralightItalic:"RobotoMono_ExtraLightItalic";
$Roboto_Italic:"RobotoMono_Italic";
$Roboto_light:"RobotoMono_Light";
$Roboto-LightItalic:"RobotoMono_LightItalic";
$Roboto_medium:"RobotoMono_Medium";
$Roboto_mediumItalic:"RobotoMono_MediumItalic";
$Roboto_regular:"RobotoMono_Regular";
$Roboto_semibold:"RobotoMono_SemiBold";
$Roboto_semibolditalic:"RobotoMono_SemiBoldItalic";
$Roboto_thin:"RobotoMono_Thin";
$Roboto_thinitalic:"RobotoMono_ThinItalic";